html,body {
	height: 100%;
	margin: 0;
	background-color: #E5E5E5;
	font-family: 'Open Sans', sans-serif;
}
core-animated-pages {
  width: 90%;
  height: 90%;
  -webkit-user-select: none;
  overflow: hidden;
}
core-animated-pages > * {
  border-radius: 5px;
  font-size: 35px;
  background-color: white;
}

body /deep/ core-toolbar {
  background-color: #03a9f4;
  color: #fff;
}
core-menu {
  color: #01579b;
  margin: 10px 0 0 0;
}
core-menu > paper-item {
  transition: all 300ms ease-in-out;
}
paper-item a {
  text-decoration: none;
  color: currentcolor;
  margin-left: 5px;
}
core-menu > paper-item.core-selected {
  background: #e1f5fe;
}
swipeable-card {
	height: 200px;
	width: 240px;
	margin: 20px auto;
	padding: 30px;
    }
#add_button {
	position:fixed;
	visibility:show; 
	bottom: 0;
	right: 0;
	margin-right: 15px;
	margin-bottom: 15px;
}
@media all and (max-width: 480px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
}